@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Cooper Std";
    src: url(cooperl.ttf) format("truetype");
}

@font-face {
    font-family: "Cooper Bold";
    src: url(cooperb.ttf) format("truetype");
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

body {
	max-width: 1050px;
	margin: -10px auto;
	font-family: Work Sans, arial, sans-serif;
	background-color: #F7E3E9;
	line-height: 1.6em;
}

hr.solid {
	border: 0.5px solid #420022;
  }

.container {
	width: 800px;
	margin: 250px 50px 100px;
}

.contact {
	overflow: hidden;
	border-radius: 1px;
	border-color: #5284C1;
	border-style: solid;
	border-width: 2px;
	padding: 0px 5px 5px 5px;
	width: 100%;
	margin-top: -2px;
	line-height: 1.5em;
}

h1 {
	font-size: 60px;
	font-weight: 400;
	font-family: Cooper Std, serif;
	letter-spacing: 1px;
	margin-bottom: 30px;
	color: #CA0053;
}

h2 {
	margin: 0;
	line-height: 1.5em;
	font-size: 24px;
	font-family: Work Sans, san-serif;
	font-weight: 300;
	color: #420022;
}

h3 {
	font-size: 32px;
	color: #94004D;
	font-weight: 300;
	font-family: Cooper Std, serif;
	padding-top: 75px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px 5px 0px;
	color: #4572f3;
	width: auto;
}

bodycopy {
	line-height: 1em;
	font-size: 14px;
	color: #F7E3E9;
	background-color: #CA0053;
	padding: 3px 6px;
}

.maintext {
	margin: 10px;
	font-size: 14px;
	line-height: 1.4em;
	padding-bottom: 20px;
}

h5 {
	font-size: 24px;
	font-weight: bold;
	color: #420022;
	font-family: Cooper Std, serif;
	letter-spacing: 1px;
	display: inline;
}

b {
	font-weight: 500;
}

header a {
	text-decoration: none;
	color: #CA0053;
}

header a:hover {
	text-decoration: none;
	color: #94004D;
}

header a:visited {
	text-decoration: none;
	color: #CA0053;
}

header a:active {
	text-decoration: none;
	color: #94004D;
}

content a {
	text-decoration: none;
	color: #CA0053;
}

content a:hover {
	color: #94004D;
}

content a:visited {
	color: #CA0053;
}

content a:active {
	color: #94004D;
}

.links {
	text-decoration: none;
	color: #420022;
	font-size: 13px;
	padding: 10px 25px;
	text-align: center;
	letter-spacing: 0.5px;
	margin-left: -40px;
}

.links a {
	text-decoration: none;
	color: #CA0053;
}

.links a:hover {
	color: #420022;
	text-decoration: underline;
}

.links a:visited {
	text-decoration: none;
	color: #CA0053;
}
