@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

body {
	max-width: 1050px;
    margin: auto;
	font-family: Inter, arial, sans-serif;
}

header {
	float: left;
	margin: 0;
	padding: 25px;
	width: 375px;
}

.hero {
	background-color: #001A89;
	padding: 20px 25px 10px;
	color: white;
	display: block;
	font-size: 14px;
}

content {
	float: left;
	display: block;
	overflow: hidden;
	margin: 25px;
	line-height: 2.5em;
	max-width: 575px;
	min-width: 200px;
	font-size: 14px;
}

.container {
	display: block;
	overflow: hidden;
	margin: 0;
}

.one {
	float: left;
	width: 225px;
	padding-right: 10px;
}

.three {
	float: left;
	width: 100%;
	padding-top: 10px;
}

.contact {
	overflow: hidden;
	border-radius: 1px;
	border-color: #5284C1;
	border-style: solid;
	border-width: 2px;
	padding: 0px 5px 5px 5px;
	width: 100%;
	margin-top: -2px;
	line-height: 1.5em;
	font-weight: bold;
}

.interestTable1 {
	float: left;
	background-color: #A1C4EE;
	color: #103E72;
	padding: 5px;
	width: 31%;
	font-weight: bold;
	margin-top: 5px;
	font-size: 15px;
	height: 80px;
}

.interestTable2 {
	float: right;
	background-color: #CCE1FC;
	padding: 5px;
	width: 62%;
	margin-top: 5px;
	font-weight: 400;
	font-size: 14px;
	height: 80px;
}

.border {
	border-radius: 1px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding: 30px;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
}

.left {
	float: left;
	margin-right: 20px;
}

.right {
	float: left;
}

.input {
	margin: -28px 0px 20px 300px;
}

header h1 {
	font-size: 24px;
	margin-top: 0;
}

h2 {
	margin: 0;
	line-height: 1.8em;
	font-size: 20px;
	font-family: Lora, serif;
}

h3 {
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0;
	background-color: #5284C1;
	color: #fff;
	padding: 5px;
	border-radius: 1px;
	border-color: #5284C1;
	border-style: solid;
	border-width: 2px;
	line-height: 1em;
	width: 100%;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px 5px 0px;
	color: #4572f3;
	width: auto;
}

bodycopy {
	line-height: 1.4em;
	font-size: 14px;
}

.maintext {
	margin: 10px;
	font-size: 14px;
	line-height: 1.4em;
	padding-bottom: 20px;
}

h5 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #058761;
	font-family: Lora, serif;
}

nav {
	float: right;
	display: inline-block;
}

nav ul {
	line-style-type: none;
	text-align: center;
	padding: 0;
	margin: 5px 0;
}

nav li {
	font-size: 16px;
	font-family: font-family: 'Crimson Text', serif;
	letter-spacing: 1px;
	width: 80px;
	display: inline-block;
}

header a {
	text-decoration: none;
}

header a:hover {
	color: #001A89;
	text-decoration: underline;
}

header a:visited {
	text-decoration: underline;
	color: #0000EE;
}

header a:active {
	color: #001A89;
}

content a {
	text-decoration: none;
}

content a:hover {
	color: #001A89;
	text-decoration: underline;
}

content a:visited {
	text-decoration: underline;
	color: #0000EE;
}

content a:active {
	color: #001A89;
}

.links {
	text-decoration: none;
	background-color: #5284C1;
	color: #001A89;
	font-size: 12.5px;
	padding: 10px 25px;
	text-align: center;
	letter-spacing: 0.5px;
}

.links a {
	text-decoration: none;
	color: #fff;
}

.links a:hover {
	color: white;
	text-decoration: underline;
}
